{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        <div style="width: 10em; display: inline-block;">
            {% if prev_pub_date %}
                <a href="/books/{{ prev_pub_date }}">< {{ prev_pub_date }}</a>
            {% endif %}
        </div>

        <div style="width: 10em; display: inline-block;">
            {% if next_pub_date %}
                <a class="button button-primary" href="/books/{{ next_pub_date }}">{{ next_pub_date }} ></a>
            {% endif %}
        </div>

    </div>
{% endblock %}
